.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 250px;
    background: #11101d;
    transition: all 0.5s;
    z-index: 1000;
}

.sidebar li a {
    color: #fff;
    display: block;
    padding: 10px 20px;
    font-size: 1.1rem;
    transition: all 0.5s;
    text-decoration: none;
}

.sidebar li a i {
    margin-right: 1rem;
}

.sidebar li a:hover {
    background: #fff;
    color: #11101d;
}

.sidebar li a.active {
    background: #fff;
    color: #11101d;
    border-radius: 1.5rem 0 0 1.5rem;
}

.logo-details {
    height: 80px;
    display: flex;
    align-items: center;
    color: #fff;
    padding: 0 20px;
    transition: all 0.5s;
    font-size: 1.3rem;
}

.logo-details i {
    font-size: 1.5rem;
    margin-right: .5rem;
}

.logo-name {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    position: fixed;
    left: 250px;
    top: 0;
    width: calc(100% - 250px);
    top: 0;
    z-index: 100;
    align-items: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
    background: #fff;
}

.user-wrapper {
    display: flex;
    align-items: center;
}

.user-wrapper img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 1rem;
    size: contain;
}

.user-wrapper h4 {
    font-size: 1.1rem;
    margin-bottom: 0 !important;
}

.user-wrapper small {
    font-size: .8rem;
    display: inline-block;
    color: #888;
}

.main-content {
    /* position: relative; */
    margin-left: 250px;
    transition: all 0.5s;
}


main {
    padding: 2rem 1.5rem;
    margin-top: 85px;
    background: #f1f5f9;
    min-height: calc(100vh - 90px);
    overflow: auto;
}
